.menu {
  background: var(--light-slate);
  width: 200px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 38px;
  left: 3px;
  text-align: start;
  z-index: 5;

  .li {
    background: var(--light-slate);
    cursor: pointer;

    .link {
      display: block;
      height: 100%;
      width: 100%;
      padding: 16px;
      font-size: 16px;
    }

    .link:hover {
      color: white;
    }
  }

  .li:hover {
    background: var(--dark-navy);
    color: white;
    cursor: pointer;
  }
}

.clicked {
  display: none;
}
