.projectList {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.projectContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 15px;
  gap: 10px;
  overflow: auto !important;

  .projectInfo {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 20px;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    .projectImg {
      width: 100%;

      > div {
        position: unset;
      }

      > img {
        position: relative !important;
        object-fit: contain;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: unset !important;
      }
    }

    .projectDetail {
      width: 100%;
      text-align: left;
      display: flex;
      flex-direction: column;

      &:first-child, * {
        margin: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 3px;

        * {
          display: flex;
        }
      }

      .tagContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: flex-start;
        margin-top: 4px;

        .tag {
          background-color: rgba(74, 255, 98, 0.587);
          color: rgb(3, 50, 3);
          border-radius: 4px;
          width: fit-content;
          padding: 0px 2px;
          white-space: nowrap;
          margin-right: 4px;
          margin-top: 3px;
        }
      }
    }
  }

  .projectDesc {
    flex: 0.6;
  }
}
