.projectList {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.projectContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  gap: 10px;
  overflow: auto !important;

  .projectImg {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;

    >div {
      position: unset;
    }

    >img {
      position: relative !important;
      object-fit: contain;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: unset !important;
    }
  }

  .projectDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    h1 {
      margin: 5px 0px;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: stretch;
      gap: 3px;
      flex-wrap: wrap;

      p {
        margin: 0;
        margin-right: 10px;
      }

      a:hover {
        color: blue;
      }
    }



    .tagContainer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: flex-start;
      margin-top: 4px;

      .tag {
        background-color: rgba(74, 255, 98, 0.587);
        color: rgb(3, 50, 3);
        border-radius: 4px;
        width: fit-content;
        padding: 0px 2px;
        white-space: nowrap;
        margin-right: 4px;
        margin-top: 3px;
      }
    }
  }

  .projectDesc {
    flex: 0.6;
    white-space: pre-wrap;
    text-align: center;

    >div:first-child {
      margin: 20px 0px;
    }

    h4 {
      margin: 4px 0px;
    }
  }
}
