.terminal {
  // flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .container {
    width: 80%;
    max-width: 1024px;
    height: fit-content;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;

    .content {
      height: 35vh;
      border: 1px solid;
      background-color: black;
      color: greenyellow;
      padding: 10px;
      border-top: var(--border);
      border-right: var(--border-highlight);
      border-bottom: var(--border-highlight);
      border-left: var(--border);

      .text {
        font-size: var(--fz-md);
        line-height: 25px;
        display: inline-block;
        white-space: pre-line;
      }
    }
  }
}




@media (max-width: 804px) {
  .content {
    height: 300px;
  }

  .text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 506px) {
  .content {
    height: 400px;
  }
  .text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 360px) {
  .content {
    height: 350px;
  }
}
