$xl: 87.5em; // 4k and hi-res desktop
$lg: 64em; // 1080 and hi-res laptops
$med: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em; // mobile only

:root {
  --max-width: 1024px;

  --light-slate: #d4d4d4;
  --dark-navy: #000184;

  --border: 2px solid #5b5b5b;
  --border-highlight: 2px solid white;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
}

html {
  box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--dark-navy);
    border-radius: 0;
    border: var(--border-highlight);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--light-slate);
    border-radius: 0;
    border: var(--border-highlight)
  }
}

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  font-size: var(--fz-sm);

  @media (max-width: 480px) {
    font-size: var(--fz-sm);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

li::marker {
  content: "➤  ";
}

.border {
  background-color: var(--light-slate);
  border-top: var(--border-highlight);
  border-right: var(--border);
  border-bottom: var(--border);
  border-left: var(--border-highlight);
}

.clickedBorder {
  background-color: var(--light-slate);
  border-top: var(--border);
  border-right: var(--border-highlight);
  border-bottom: var(--border-highlight);
  border-left: var(--border);
}

.folderContainer {
  @extend .border;
  max-width: 80vw;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.folderGrid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;

  @media (max-width: $lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $med) {
    grid-template-columns: repeat(2, 1fr);
  }
}


.modalBar {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  height: 25px;
  margin-bottom: 4px;
  color: white;
  align-items: center;
  padding-left: 3px;

  .modalBarLeft {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: auto;
      padding: 2px;
      margin-right: 3px;
    }
  }

  .close-modal {
    @extend .border;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    padding: 2.5px;
  }

  .close-modal:active:enabled {
    @extend .clickedBorder;
  }

  .close-modal:disabled {
    cursor: not-allowed;
  }
}


.modal-content {
  @extend .clickedBorder;
  width: 100%;
  height: calc(80vh - 45px);
  padding: 10px;
  background-color: white;
}



.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 4px;
  height: fit-content;
  cursor: pointer;

  p {
    margin: 0;
    font-weight: 500;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
