:root {
  --max-width: 1024px;

  --light-slate: #d4d4d4;
  --dark-navy: #000184;

  --border: 2px solid #5b5b5b;
  --border-highlight: 2px solid white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.border {
  background-color: var(--light-slate);
  border-top: var(--border-highlight);
  border-right: var(--border);
  border-bottom: var(--border);
  border-left: var(--border-highlight);
}

.clickedBorder {
  background-color: var(--light-slate);
  border-top: var(--border);
  border-right: var(--border-highlight);
  border-bottom: var(--border-highlight);
  border-left: var(--border);
}

.modal {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

  .overlay {
    @extend .modal;
    background: rgba(49, 49, 49, 0.8);
  }
}


.modalBar {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  height: 25px;
  margin-bottom: 4px;
  color: white;
  align-items: center;
  padding-left: 3px;
  font-size: 19px;

  .modalBarLeft {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;

    img {
      height: 100%;
      width: auto;
      padding: 2px;
      margin-right: 3px;
    }
  }

  .close-modal {
    @extend .border;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    padding: 2.5px;
  }

  .close-modal:active:enabled {
    @extend .clickedBorder;
  }

  .close-modal:disabled {
    cursor: not-allowed;
  }
}


.modal-content {
  @extend .clickedBorder;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
}



.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
