@tailwind base;
@tailwind components;
@tailwind utilities;

$xl: 87.5em; // 4k and hi-res desktop
$lg: 64em; // 1080 and hi-res laptops
$med: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em; // mobile only

@font-face {
  font-family: 'neodgm';
  font-style: normal;
  src: url('../../public/assets/fonts/neodgm_code.woff2') format('woff2');
}

@font-face {
  font-family: 'PSN';
  font-style: normal;
  src: url('../../public/assets/fonts/px\ sans\ nouveaux.woff2') format('woff2'),
       url('../../public/assets/fonts/px\ sans\ nouveaux.woff') format('woff');
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer base {
  :root {
    --max-width: 1024px;
  
    --light-slate: #d4d4d4;
    --dark-navy: #000184;
  
    --border: 2px solid #5b5b5b;
    --border-highlight: 2px solid white;
  
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
  }
  
  html {
    @apply box-border w-full;
  }
  
  body {
    @apply h-screen m-0 bg-blue-400 text-xs;
  }
  
  a {
    @apply text-inherit no-underline;
  }
  
  ul,
  li {
    @apply list-none
  }
  
  li::marker {
    content: "➤  ";
  }
  
  button, input {
    font-family: inherit;
  }
  
  input {
    padding: 5px;
  }

  dialog {
    padding: 0;
    background: none;
    border: none;
  }
}


.main {
  @apply w-full h-[calc(100vh-41px)] flex-col gap-5 flex-wrap;
}

.border {
  background-color: var(--light-slate);
  border-top: var(--border-highlight);
  border-right: var(--border);
  border-bottom: var(--border);
  border-left: var(--border-highlight);
}

.clickedBorder {
  background-color: var(--light-slate);
  border-top: var(--border);
  border-right: var(--border-highlight);
  border-bottom: var(--border-highlight);
  border-left: var(--border);
}

.folderContainer {
  @extend .border;
  max-width: 80vw;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.folderGrid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;

  @media (max-width: $lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $med) {
    grid-template-columns: repeat(2, 1fr);
  }
}


.modalBar {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  height: 25px;
  margin-bottom: 4px;
  color: white;
  align-items: center;
  padding-left: 3px;

  .modalBarLeft {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: auto;
      padding: 2px;
      margin-right: 3px;
    }
  }
}

.modal {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

}

.modalOverlay {
  @extend .modal;
  background: rgba(49, 49, 49, 0.8);
}
.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-modal {
  @extend .border;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  padding: 2.5px;
}

.close-modal:active:enabled {
  @extend .clickedBorder;
}

.close-modal:disabled {
  cursor: not-allowed;
}

.modal-content {
  @extend .clickedBorder;
  width: 100%;
  height: calc(80vh - 45px);
  padding: 10px;
  background-color: white;
}


.icon {
  @apply w-fit h-fit p-2 flex flex-col justify-center items-center whitespace-nowrap cursor-pointer text-center text-[.5938rem]
}

.icon > span {
  @apply w-fit text-center
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}