.main {
  padding: 100px 20px;
  height: calc(100vh - 41px);
  overflow-x: hidden;
  width: 100%;
  max-width: 1228px;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}

.projectMain {
  @extend .main;
  gap: 0;
  padding: 0;
  align-items: center;
}
