.main {
  padding: 0;
  height: calc(100vh - 41px);
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  .icons {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}

.projectMain {
  @extend .main;
  gap: 0;
}
