.modal {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

  .overlay {
    @extend .modal;
    background: rgba(49, 49, 49, 0.8);
  }
}

.skillContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skill-logo {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.skill-logo img {
  height: 43px;
  width: auto;
  margin-bottom: 4px;
}
